<div class="headerContainer">
  <app-header></app-header><br>
</div>

<div class="pageContainer">
  <div class="contentContainer">

    <nav class="menuLateral">
      <h3>Relatórios:</h3>
      <ul>
        <li>Amostras, Grupos e Parâmetros</li>
        <li>Cliente, Faturamento e Amostra</li>
        <li>Perspectiva anual</li>
      </ul>
    </nav>

    <main>
      <h1 class="title">Título do relatório</h1>
      <div class="mainContent">

        <p>Faça upload do relátorio:</p>
        <input type="file" id="inputReport">
        <label for="inputReport">
        <i class="fas fa-upload"></i> Selecione um arquivo
      </label>

      </div>
    </main>

  </div>
</div>

<div class="footerContainer">
  <app-footer></app-footer>
</div>

