<div class="headerContainer">
  <app-header></app-header><br>
</div>

<div class="pageContainer">
  <div class="contentContainer">

    <nav class="menuLateral">
      <h3>Relatórios:</h3>
      <ul>
        <li>Amostras, Grupos e Parâmetros</li>
        <li>Cliente, Faturamento e Amostra</li>
        <li>Perspectiva anual</li>
      </ul>
    </nav>

    <main>
      <h1 class="title">Amostras, Grupos e Parâmetros</h1>
      <div class="mainContent">

        <div class="reportData">
        <p>Faça upload do relátorio:</p>
        <input type="file" id="inputReport">
        <label for="inputReport" class="labelArquivo">
        <i class="fas fa-upload"></i> Selecione um arquivo
        </label>
        </div>

      <div class="aditionalData">
        <div class="field">
          <label for="name">Nome Funcionário:</label>
          <input type="text" id="name">
        </div>

        <div class="field">
          <label for="name">Setor:</label>
          <select name="departament" id="">
            <option value="">Diretoria</option>
            <option value="">Administrativo</option>
            <option value="">Financeiro</option>
          </select>
        </div>

        <div class="field">
          <label for="role">Cargo:</label>
          <input type="text" id="role">
        </div>
      </div>

      <div class="actionButtons">
        <button class="clean">Limpar</button>
        <button class="generate" type="submit">Gerar Análise</button>
      </div>

      </div>
    </main>

  </div>
</div>

<div class="footerContainer">
  <app-footer></app-footer>
</div>

