$mainGreen: #317e50;

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contentContainer {
    background: linear-gradient(
      to right,
      #fcfcfc,
      #fefefe,
      #fafafa,
      #fdfdfd,
      #f8f8f8,
      #f9f9f9
    );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    display: flex;
    justify-content: flex-start;

    .menuLateral {
      background-color: #0b5f38;
      width: 15%;
      padding: 2em;
      display: flex;
      flex-direction: column;
      font-weight: 500;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      transition: width 0.3s ease-in-out;

      h3 {
        margin-bottom: 1em;
        font-size: 1.2em;
        text-align: center;
        color: #ebeaea;
      }

      ul {
        margin-top: 2em;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
      }

      li {
        padding: 1em;
        transition: background-color 0.3s, transform 0.2s;
        cursor: pointer;
        border-radius: 4px;
      }

      li:hover {
        background-color: rgba(13, 70, 22, 0.486);
        transform: translateX(10px);
      }

    }

    main{
      padding: 2em;

      .mainContent{
        margin-top: 1.2em;
        display: flex;
        gap: 1em;
        align-items: flex-start;
        flex-direction: column;

        .reportData{
          display: flex;
          align-items: center;
          gap: 1em;
          flex-wrap: wrap;


          input[type="file"] {
            display: none;
          }

          .labelArquivo {
            background-color: $mainGreen;
            color: white;
            padding: 0.9em;
            border-radius: 8px;
            font-size: 0.7em;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
            transition: background-color 0.3s, transform 0.2s;
            display: inline-flex;
            align-items: center;
            width: 10.2em;
          }

          .labelArquivo:hover {
            background-color: #0b5f38;
          }
        }

        .aditionalData{
          display: flex;
          align-items: center;
          margin-top: 1.5em;
          gap: 2em;
          flex-wrap: wrap;

          input{
            border-bottom: 1px solid black;
            outline: none;
            margin-left: 0.5em;
          }

          select{
            margin-left: 0.5em;
          }

        }

        .actionButtons{
          display: flex;
          justify-content: flex-end;
          width: 90%;
          gap: 0.75em;
          margin-top: 5em;
          font-weight: 600;

          button{
            padding: 0.6em;
            border-radius: 8px;
            transition: 1s;
          }

          .generate{
            background-color: #317e50f8;
            color: white;
          }

          .generate:hover{
            background-color: #0b5f38;
            cursor: pointer;
          }

          .clean:hover{
            background-color: rgb(209, 205, 205);
            cursor: pointer;
          }

        }


      }

    }

  }
}

