.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contentContainer {
    background: linear-gradient(
      to right,
      #fcfcfc,
      #fefefe,
      #fafafa,
      #fdfdfd,
      #f8f8f8,
      #f9f9f9
    );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .menuLateral{
      background-color: grey;
      width: 10%;
      padding: 2em;
      display: flex;
      justify-content: center;
      font-weight: 600;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

  }
}
