.footerContainer {
  width: 100%;
  background: linear-gradient(
    to right,
    #fcfcfc,
    #fefefe,
    #fafafa,
    #fdfdfd,
    #f8f8f8,
    #f9f9f9
  );
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  bottom: 0;
  padding: 1em;
  font-size: 0.75em;
}

.footerLeft,
.footerRight {
  width: 22%;
}

.footerLeft p,
.footerRight p {
  margin: 0.3em 0;
}
