$mainGreen: #317e50;

.headerContainer {
  display: block;
}

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .contentContainer {
    background: linear-gradient(
      to right,
      #fcfcfc,
      #fefefe,
      #fafafa,
      #fdfdfd,
      #f8f8f8,
      #f9f9f9
    );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3em;

    .subtitle {
      margin-top: 1em;
    }

    .icon {
      width: 6em;
    }

    .modulesContainer {
      padding: 2em;
      display: flex;
      gap: 2em;
      flex-wrap: wrap;

      .moduleContainer {
        border: 2px solid rgba(167, 162, 162, 0.212);
        padding: 1.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.5s;
        width: 20em;

        .moduleTitle {
          margin-top: 1.5em;
          transition: 0.5s;
        }

        .moduleSubTitle {
          margin-top: 0.5em;
        }

        &:hover {
          border: 2px solid $mainGreen;

          .moduleTitle {
            color: $mainGreen;
          }
        }
      }
    }
  }
}

.footerContainer {
  display: block;
}


a{
  text-decoration: none;
  color: black
}
