 <div class="headerContainer">
    <app-header></app-header><br>
 </div>

<div class="pageContainer">
    <div class="contentContainer">
        <h1 class="title">Seja bem-vindo!</h1>
        <p class="subtitle">Escolha o módulo desejado</p>
      <a routerLink="/mar">
        <div class="modulesContainer">
          <div class="moduleContainer">
            <img class="icon" src="assets/icons/iconMAR.png" alt="icone módulo análise de relatórios">
            <h3 class="moduleTitle">MAR</h3>
            <p class="moduleSubTitle">Módulo de análise de relatórios</p>
          </div>
        </div>
      </a>
      </div>
</div>

<div class="footerContainer">
  <app-footer></app-footer>
</div>
